{% extends "base.html.twig" %}

{% block title %}
    Movies Page
{% endblock %}

{% block body %}
   <h1 class="bg-blue-500 text-2xl text-center font-bold">GAS</h1>
   <img src="{{asset('build/images/cat.d93f7ca9.jpg')}}" alt="cat">
{% endblock %}
